body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  color: #fff;
  background-color: #282828;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
  background-color: #333;
}

#logo {
  width: 150px;
  height: auto;
  border-radius: 3px;
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.3);
  border-color: #141414;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  background-color: #555;
  border-radius: 3px;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: #007bff;
  }

  &:active {
    opacity: 0.7;
  }
}

.bold {
  font-weight: bold;
}

main {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 60px;
}

.hero {
  background-image: url("./images/background.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow: hidden;

  /* oscurece el fondo */
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}

.hero-image {
  object-fit: cover;
  width: 100%;
}

.hero-text {
  text-align: center;
}

.hero-text h2 {
  font-size: 2.5em;
  margin: 0;
}

.hero-text p {
  font-size: 1.2em;
  margin: 10px 0;
}

#services {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#services h2 {
  font-size: 35px;
}

.service-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  height: 400px;
  background-color: #141414;
  border-radius: 10px;
  overflow: hidden;   

}

.service-info {
  width: 50%;
}

.service-info h3 {

  margin: 0 0 10px;
  font-size: 3em;
}

.service-info h4 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.service-info p {
  margin: 20px 0;
  font-size: 1em;
}

.service-image {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;

}

.service-image img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}



.btn {
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: #555;
  }
}

#contact {
  background-color: #333;
  text-align: center;
  padding: 40px 0;
}

footer {
  background-color: #141414;
  text-align: center;
  padding: 10px 0;
}

/* ABOUT*/

#team h2 {
  margin-left: 50px;
}

.team-members {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #282828;
  padding: 20px;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  height: 450px;
  padding: 30px 0px;
  background-color: #333;
  border-radius: 15px;
  text-align: center;
  box-shadow: 10px 5px 5px red;
  transition: box-shadow 0.8s;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: top;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 8px 7px 10px rgba(0, 0, 0, 0.3);
  width: 250px;
  height: 250px;
}

.team-member img {
  width: 450px;
  height: 450px;
}

.team-member h3 {
  font-size: 27px;
  margin: 0;
}

.team-member p {
  margin: 0;
}

.boton-importante {
  background-color: #555;
  border-radius: 5px;
  border: none;
  padding: 13px 60px;
  color: #fff;
  cursor: pointer;
  font-size: large;
  transition: background-color 0.13s, opacity 0.13s;
  &:hover {
    background-color: #007bff;
  }

  &:active {
    opacity: 0.7;
  }
}

/* CONTACT */

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
}

.datosa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
}
.datos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email {
  display: flex;
  flex-direction: column;
}

input::placeholder {
  color: white;
}

form input,
form select,
form textarea {
  padding: 5px 3px;
  background-color: black;
  color: white;
  border: white solid 1px;
  border-radius: 4px;
}
