[data-theme="dark"] {
  --primary-color: #333;
  --secondary-color: #141414;
  --tertiary-color: #555;
  --font-color: #fff;
  --opposite-color: #000;
}

[data-theme="light"] {
  --primary-color: #d6d6d6;
  --secondary-color: #bcbcbc;
  --tertiary-color: #a1a1a1;
  --font-color: #000;
  --opposite-color: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: var(--font-color);
  background-color: var(--secondary-color);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
  background-color: var(--primary-color);
}

#logo {
  width: 150px;
  border-radius: 3px;
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.3); 
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  background-color: var(--tertiary-color);
  border-radius: 3px;
  padding: 15px;
  color: var(--font-color);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: #007bff;
  }
  &:active {
    opacity: 0.7;
  }
}

header button {
  border-radius: 50%;
  border: none;
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.3); 
  cursor: pointer;
  overflow: hidden;
  &:hover {
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.7); 
  &:active {
    opacity: 0.6;
  }
    
  }
}
header button img{
  width: 40px;
  height: 40px;
}

.bold {
  font-weight: bold;
}

main {
  background-color: var(--opposite-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 5vw;
}

.hero {
  background-image: url("./images/background.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  overflow: hidden;

  /* oscurece el fondo */
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}

.hero-image {
  object-fit: cover;
  width: 100%;
}

.hero-text {
  text-align: center;
}

.hero-text h2 {
  font-size: 2.5em;
  margin: 0;
  color: #fff;
}

.hero-text p {
  font-size: 1.2em;
  margin: 10px 0;
  color: #fff;
}

.btn {
  color: var(--font-color);
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
  border-radius: 7px;
  &:hover {
    background-color: var(--tertiary-color);
  }
}

#services {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#services h2 {
  font-size: 35px;
  margin-bottom: 0;
}

.service-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  height: 400px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  overflow: hidden;
}

.service-info {
  width: 50%;
}

.service-info h3 {
  margin: 0 0 10px;
  font-size: 3em;
}

.service-info h4 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.service-info p {
  margin: 20px 0;
  font-size: 1em;
}

.service-info .btn {
  padding: 15px 50px;
  font-size: 20px;
  &:hover {
    background-color: #007bff;
  }
}

.contact-button {
  display: flex;
  justify-content: center;
}

.service-image {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.service-image img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#contact {
  background-color: var(--primary-color);
  text-align: center;
  padding: 40px 0;
}

footer {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 10px 0;
}

/* ABOUT*/
h2 {
  font-size: 2rem;
}

.about-container {
  padding: 20px;
}

.about-container p {
  font-size: 2.5rem;
  font-style: italic;
  color: var(--font-color);
}

#team-members {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--secondary-color);
  padding: 20px;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  height: 450px;
  padding: 30px 0px;
  background-color: var(--primary-color);
  border-radius: 15px;
  text-align: center;
  box-shadow: 3px 5px 10px black;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: top;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 8px 7px 10px rgba(0, 0, 0, 0.3);
  width: 250px;
  height: 250px;
}

.team-member img {
  width: 450px;
  height: 450px;
}

.team-member h3 {
  font-size: 27px;
  margin: 0;
}

.team-member p {
  margin: 0;
}

.boton-importante {
  background-color: var(--tertiary-color);
  border-radius: 5px;
  border: none;
  padding: 13px 60px;
  color: var(--font-color);
  cursor: pointer;
  font-size: large;
  transition: background-color 0.13s, opacity 0.13s;
  &:hover {
    background-color: #007bff;
  }

  &:active {
    opacity: 0.7;
  }
}

#history {
  background-color: var(--secondary-color);    
}

#history p {
  font-size: 1.5rem;
  text-indent: 3em;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-color);
}

/* CONTACT */

.contact-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact-card {
  display: flex;
  justify-content: center;
  margin: 0 0 40px 0;
  border-radius: 15px;
  padding: 0;
  overflow: hidden;
}


.page-img, .page-form {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
}

.page-img {
  background-image: url(./images/gym-card.jpg);
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}

form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
}

.datos-principales {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
}

.datos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email {
  display: flex;
  flex-direction: column;
}

input::placeholder {
  color: var(--font-color);
}

form input,
form select,
form textarea {
  padding: 5px 3px;
  background-color: var(--opposite-color);
  color: var(--font-color);
  border: var(--font-color) solid 1px;
  border-radius: 4px;
}

textarea {
  resize: none;
}
